*.log
*.pot
*.pyc
cache/*
static/CACHE/*
db.sqlite3

# Dotenv
.env

#Pycharm
.idea

# Foundation
static/foundation/bower_components/*
static/foundation/.sass-cache/*
*.DS_Store
static/foundation/stylesheets/*
static/foundation/Gemfile.lock

# Flags
media/flags/*
