Django==1.7
django-mathfilters
django-filter
django-dotenv
django-configurations
django-secure
django-extensions
django-compressor
django-bower
django-geoposition
djangorestframework
django-debug-toolbar
django-ajax-selects
markdown
requests
requests_oauthlib
MySQL-python
tvdb-api
python-dateutil
Fabric
pillow