{% extends 'base.html' %}
{% load staticfiles %}

{% block home-active%}active{% endblock %}

{% block content %}

<div class="row">
	<div class="small-12 small-collapse medium-8 medium-offset-2 columns mast">
        <div class="small-12 medium-8 columns info">
            <table>
                <tr>
                    <td><small>Name:</small></td>
                    <td><h4>Fran Hermoso</h4></td>
                </tr>
                <tr>
                    <td><small>Occupation:</small></td>
                    <td><strong>Backend Developer / DevOps / SysAdmin</strong></td>
                </tr>
                <tr>
                    <td><small>Likes:</small></td>
                    <td><strong>Python, Linux, Open Source, TV Series, Travelling, FIFA, ...</strong></td>
                </tr>
                <tr>
                    <td><small>Contact:</small></td>
                    <td><img src="{% static 'img/mail.jpg'%}"></td>
                </tr>

            </table>
        </div>

        <div class="small-12 medium-4 columns head">
            <img src="{% static 'img/hackergotchi-big.png'%}">
        </div>

	</div>
</div>

<div class="row">
	<hr />
	{% verbatim %}
	<div class="small-12 medium-4 columns lists">
		<h2>Tweets 
			<small><i class="fa fa-at"></i></small>
			<a href="https://twitter.com/franhp">
			<i class="fa fa-twitter fa-2x"></i></a>
		</h2>
		<div class="ng-hide  divider-right" ng-controller="twitterCtrl" ng-show="tweets">
			<ul class="no-bullet" ng-repeat="tweet in tweets">
				<li class="tweet">
					<a href="https://twitter.com/franhp/status/{{ tweet.status_id }}">
						<i class="fa fa-external-link pull-right"></i>
					</a>
					<div ng-bind-html="tweet.text"></div>
					<div class="tweet_date">@{{ tweet.date }}</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="small-12 medium-4 columns lists">
		<h2>Listens 
			<small><i class="fa fa-at"></i></small>
			<a href="https://last.fm/user/franhp">
			<i class="fa fa-lastfm fa-2x"></i></a>
		</h2>
		<div class="ng-hide" ng-controller="lastfmCtrl" ng-show="songs">
			<ul class="no-bullet" ng-repeat="song in songs">
				<li>
				     <div class="row song">
	                    <div class="small-3 columns">
	                    	<div class="song_image">
	                    		<img src="{{ song.image }}">
	                    	</div>
	                    </div>
	                    <div class="small-9 columns">
	                    	<div class="song_name">{{ song.name }}</div>
	                    	<div class="song_artist"><small>by</small> {{ song.artist }}</div>
	                    	<div class="song_date">@ {{ song.date }}</div>
	                    </div>
	                </div>
				</li>
			</ul>
		</div>
	</div>
	<div class="small-12 medium-4 columns lists">
		<h2>Codes 
			<small><i class="fa fa-at"></i></small>
			<a href="https://github.com/franhp">
			<i class="fa fa-github-alt fa-2x"></i></a>
		</h2>
		<div class="ng-hide divider-left" ng-controller="githubCtrl" ng-show="projects" >
			<ul class="no-bullet" ng-repeat="project in projects">
				<li class="github-project">
					<a href="{{ project.clone_url }}">
						<i class="fa fa-code-fork"></i>
						<strong>{{ project.name }}</strong>
						<small>({{project.language}})</small>
					</a>
					<br />
                	<i>
                		<small>{{ project.description }}</small>
                	</i>
                </li>
			</ul>
		</div>
	</div>
	{% endverbatim %}
</div>

{% endblock %}