{% extends 'base.html' %}

{% block wiki-active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-7 columns">
            {% if category_list %}
                <h3>Categories:</h3>
                <ul class="wikilist">
                {% for category in category_list %}
                    <li><a href="category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                No categories found!
            {% endif %}
        </div>
        <div class="small-12 medium-5 columns">
            <br>
            <form method="POST" action="{% url 'wikisearch' %}">
                {% csrf_token %}
                <div class="row collapse postfix-round">
                    <div class="small-9 columns">
                        <input type="text" name="search" placeholder="ssh, screen, linux, ...">
                    </div>
                    <div class="small-3 columns">
                        <a href="#" class="button postfix">Search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}