{% extends 'base.html' %}
{% load compile_static %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/codehilite.scss'|compile %}">
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'wiki' %}">Wiki</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'wiki_category' object.category.slug %}">{{ object.category.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'wiki_article' object.category.slug object.slug %}">{{ object.title }}</a>
            </li>
        </ol>
    </nav>

    <h1>{{ object.title }}</h1>
    <p>
        {{ markdown|safe }}
    </p>

    <small><i>last updated on {{ object.date }}</i></small>

    <hr>

    <a class="btn btn-light" href="{% url 'wiki_category' object.category.slug %}">
        <i class="fa fa-arrow-left"></i> Back
    </a>

{% endblock %}
