{% extends 'base.html' %}

{% block content %}


    <h1>Search:</h1>
    {% if document_list %}
    <ul>
        {% for document in document_list%}
            <li><a href="{% url 'wiki' %}category/{{ document.category.slug }}/{{ document.slug }}">{{ document.title }}</a> <br>
                ... {{ document.content|slice:"20:90" }} ...
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>No results for <i>"{{ search_value }}"</i></h3>
    {% endif %}



    <form method="POST" action="{% url 'wikisearch' %}">
        {% csrf_token %}
        {{ form }}
    </form>

{% endblock %}
