{% extends 'admin/base_site.html' %}

{% load %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo; <a href="/admin/tvseries">TVSeries</a>
</div>
{% endblock %}

{% block title %} Add TVSeries | Django site admin {% endblock %}

{% block content %} 
<div style="width:2000px">
  <div style="float:left;width:20%">
    <h2>Search</h2>
      <form method="get" action="{% url 'admin_tvseries'%}?">
        <input type="hidden" name="search" value="true">
        Name: <input type="text" name="search-name" value="{{name}}"><br>
               
        {% if episodelist %}
          <select name="episode">
          {% for e in episodelist %}
            {% if e.0 == episode_id %}
              <option value="{{e.0}}" selected>S{{e.1}}E{{e.2}} - {{e.3}}</option>
            {% else %}
              <option value="{{e.0}}">S{{e.1}}E{{e.2}} - {{e.3}}</option>
            {% endif %}
          {% endfor %}
          </select>
        {% endif %}
        <input type="submit" value="Search">
      </form>
  </div>

  <div style="float:right;width:80%;">
    <h2>Going to write</h2>
    <form method="post" action="{% url 'admin_tvseries'%}?">
      {% csrf_token %}
        Name: <input type="text" name="name" value="{{ name }}" ><br>
        Year: <input type="text" name="year" value="{{ year }}" ><br>
        Episodes: <input type="text" name="episodes" value="{{ episodes }}" ><br>
        Season: <input type="text" name="season" value="{{ season }}"><br>
        Minutes: <input type="text" name="minutes" value="{{ minutes }}"><br>
        URL: <input type="text" name="url" value="{{ url }}"><br>
        Watched: <input type="text" name="watched" value="{{ watched }}"><br>
        <input type="hidden" name="save" value="true">
        <input type="submit" value="Add"><br>
    </form>
  </div>
</div>
<hr><br>
<div id="search"></div>
{% endblock %}
