{% extends 'base.html' %}

{% block content %}


    <h1>Search:</h1>

    {% if document_list %}
        <div class="list-group">
            {% for document in document_list%}
                <a href="{% url 'wiki_article' document.category.slug document.slug %}"
                 class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ document.title }}<br></h5>
                    </div>
                    <p class="mb-1">... {{ document.content|slice:"20:90" }} ...</p>
                </a>
            {% endfor %}
        </div>

    {% else %}
        <h3>No results for <i>"{{ search_value }}"</i></h3>
    {% endif %}

    <hr>

    <form method="POST" action="{% url 'wikisearch' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
          </div>
          <input type="text" class="form-control" placeholder="ssh, screen, linux, ..." name="search">
        </div>
    </form>

{% endblock %}
