{% extends 'base.html' %}

{% block content %}

{% if category_list %}
    <h3>Categories:</h3>
    <ul class="list-group">
    {% for category in category_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="list-group-item-action"
               href="{% url 'wiki_category' category.slug %}">
                {{ category.name }}
            </a>
            <span class="badge badge-dark badge-pill">{{ category.document_set.count }} articles</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    No categories found!
{% endif %}

<hr>

<form method="post" action="{% url 'wikisearch' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
      </div>
      <input type="text" class="form-control" placeholder="ssh, screen, linux, ..." name="search">
    </div>
</form>

{% endblock %}
