{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="display-4">Fran Hermoso</h1>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    <i class="fas fa-briefcase fa-2x"></i> DevOps / Developer / SysAdmin
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center  list-group-item-action">
                    <i class="fas fa-map-marker fa-2x"></i>Manresa (Barcelona)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    <i class="fas fa-thumbs-up fa-2x"></i>
                    <hr>
                    <i class="fab fa-python fa-2x"></i>&nbsp;
                    <i class="fab fa-docker fa-2x"></i>&nbsp;
                    <i class="fab fa-linux fa-2x"></i>&nbsp;
                    <i class="fas fa-plane fa-2x"></i>&nbsp;
                    <i class="fas fa-headphones fa-2x"></i>&nbsp;
                    <i class="fas fa-gamepad fa-2x"></i>&nbsp;
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail w-100" src="{% static 'img/headshot.jpg' %} ">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://uk.linkedin.com/in/franhp"><i class="fab fa-linkedin fa-4x"></i></a>
            <a href="https://twitter.com/franhp"><i class="fab fa-twitter fa-4x"></i></a>
            <a href="https://github.com/franhp"><i class="fab fa-github fa-4x"></i></a>
            <a href="http://lastfm.es/user/franhp"><i class="fab fa-lastfm fa-4x"></i></a>
        </div>
    </div>


</div>

{% endblock %}
