{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Top 10 TV Series</h1>

            <ul class="list-group">
            {% for serie in series_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="http://www.imdb.com/title/{{ serie.imdbid }}" class="list-group-item-action">
                        <strong>{{ forloop.counter }}.</strong> {{ serie.name }} ({{ serie.year|date:"Y" }}) <i class="fab fa-imdb"></i> {{ serie.imdb_rating }}
                    </a>
                    <span class="badge badge-dark badge-pill"><i class="fas fa-star"></i> {{ serie.my_rating }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h1>Top 10 Movies</h1>

            <ul class="list-group">
            {% for movie in movies_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="http://www.imdb.com/title/{{ movie.imdbid }}" class="list-group-item-action">
                        <strong>{{ forloop.counter }}.</strong> {{ movie.name }} ({{ movie.year|date:"Y" }})  <i class="fab fa-imdb"></i> {{ movie.imdb_rating }}
                    </a>
                    <span class="badge badge-dark badge-pill"><i class="fas fa-star"></i> {{ movie.my_rating }}</span>
                </li>
            {% endfor %}
            </ul>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 text-left">
            <a href="https://www.imdb.com/user/ur44452268/ratings">Total of <strong>{{ series_count }}</strong> TV Series watched</a>
        </div>
        <div class="col-md-6 text-right">
            <a href="https://www.imdb.com/user/ur44452268/ratings">Total of <strong>{{ movies_count }}</strong> Movies watched</a>
        </div>
    </div>
</div>

<hr>

<small><i>last updated on {{ last_update }}</i></small>


{% endblock %}
