{% extends 'base.html' %}

{% block bookmarks-active %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 columns bookmarks">
      {% if link_list %}
          <table role="grid">
              <thead>
              <tr>
                  <th>Bookmark</th>
                  <th>Last update</th>
              </tr>
              </thead>
              <tbody>
              {% for link in link_list %}
                  <tr>
                      <td>
                          <a href="{{ link.url }}">{{ link.name }}
                              <small>({{ link.url }})</small>
                          </a>
                      </td>
                      <td>
                          {{ link.year }}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No bookmarks are available.</p>
      {% endif %}
  </div>
</div>
{% endblock %}