{% extends 'base.html' %}

{% block links-active%}active{%endblock%}

{% block content %}
<div class="row">
  <div class="small-12">
     {% if links %}
     <table class="table">
         {% for link in links %}
             <tr>
                 <td>
                     <a href="{{ link.url }}">{{ link.name }}</a></td><td>{{ link.year }}
                 </td>
             </tr>
         {% endfor %}
     </table>
     {% else %}
         <p>No links are available.</p>
     {% endif %}
  </div>
</div>
{% endblock %}