{% extends 'base.html' %}

{% block myplaces-active %}active{% endblock %}

{% block extra_top %}
    <script>
        function initialize() {
            var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(-34.397, 150.644)
            };

            var map = new google.maps.Map(document.getElementById('map_canvas'),
                    mapOptions);


            map.data.loadGeoJson('{% url 'myplaces_api' %}')
        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initialize';
            document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 medium-8 columns">
            <div id="map_canvas" class="map_canvas">Loading map...</div>
        </div>
        <div class="small-12 medium-4 columns myplaces_list">
            <table>
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Years</th>
                    <th>Cities</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>lol</td>
                    <td>lol1</td>
                    <td>lol2</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}