{% extends 'base.html' %}

{% block tvseries-active %}active{% endblock %}

{% block content %}

    <div class="row">
        <h1>I've watched a total of <strong>{{ tvseries_list|length }}</strong> TV Series!</h1>

            <ul class="small-block-grid-3 medium-block-grid-6">
            {% for serie in tvseries_list %}
                <li>
                    <a href="http://www.imdb.com/title/{{ serie.imdbid }}">
                        <img class="th" src="{{ serie.poster }}" onerror=""><br/>
                        {{ serie.name }} ({{ serie.year|date:"Y" }})
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>

{% endblock %}