{% extends 'base.html' %}

{% block tvseries-active %}active{% endblock %}

{% block content %}

    <div class="row">
        <h1>I've watched a total of <strong>{{ tvseries_list|length }}</strong> TV Series!</h1>

            <ul class="small-block-grid-3 medium-block-grid-6">
            {% for serie in tvseries_list %}
                <li>
                    <div class="star">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-star fa-stack-2x star-color"></i>
                            <strong class="fa-stack-1x star-content">{{ serie.rating }}</strong>
                        </span>
                    </div>

                    <a href="http://www.imdb.com/title/{{ serie.imdbid }}">
                        <img class="th" src="{{ serie.poster }}" onerror="">
                        {{ serie.name }} ({{ serie.year|date:"Y" }})
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>

{% endblock %}