{% extends 'base.html' %}

{% block tvseries-active %}active{% endblock %}

{% block content %}

    <div class="row">
        <h1>I've watched a total of <strong>{{ tvseries_list|length }}</strong> TV Series!</h1>
            {% for serie in tvseries_list %}
                <div class="poster small-6 medium-3 columns">
                    <a href="http://www.imdb.com/title/{{ serie.imdbid }}">
                        <img src="{{ serie.poster }}" height="150" width="150" onerror=""><br/>
                        {{ serie.name }} ({{ serie.year|date:"Y" }})
                    </a>
                </div>
            {% endfor %}
        </div>

{% endblock %}