{% extends 'base.html' %}

{% block tvseries-act%}class=active{%endblock%}

{% block content %}

<div class="container">

<div class="row">
    <div class="well span4">
    <h4> Total time wasted:<br> {{wasted}}</h4>
    </div>
    <div class="well offset2 span3">
    Last update was on {{ lastupdate }}<br>
    See <a href="http://followmy.tv/u/franhp">followmy.tv</a> for a more accurate list
    </div>
</div>
<div class="row">
    <div class="span9">
    
    {% if tvseries %}
        <table class="table">
        {% for serie in tvseries %}
            <tr>
            <td width="40%">
                <div class="progress progress-striped">
                <div class="bar"
                    style="width: {{ serie.percent }}%;">{{serie.watched_episodes}} / {{serie.episodes}} episodes</div>
                </div>
            </td>
            <td>
                <a href="{{serie.url}}">{{ serie.name }} ({{serie.year}})  </a>
            </td>
            <td>
                Season {{serie.current_season}}
            </td>

            
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    
    </div>
</div>

</div>

{% endblock %}